/* Body */
body {
  margin: 0;
  padding: 0;
}
.main-container {
  background-color: gray;
}

#woman {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: lavender;
  background-color: darkslategray;
  margin: 10px;
}

label {
  color: darkslateblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
}
/* Header */
header {
  background-color: lavender;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkslategrey;
  width: 100vw;
}

/* Title */
.title-container {
  display: flex;
  width: 100%;
}
.main-title {
  margin: 0;
  padding: 10px;
  text-align: start;
}
.title-container small {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* NAV BAR */

.navbar-container {
  background-color: darkslateblue;
  padding: 10px;
  display: flex;
}
.nav-item {
  color: darkslateblue;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.link-container {
  background-color: lavender;
}

/* Registration */

.registration-page {
  background-color: darkslateblue;
  color: lavender;
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-content: space-between;
}

/* Routines */

.routines-page {
  color: black;
}

.single-routine {
  background-color: lavender;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  width: 25%;
  margin: 10px;
  color: darkslategrey;
  padding: 15px;
  box-shadow: 10px 5px 5px darkslategrey;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  overflow-y: scroll;
}

.single-routine h2 {
  text-align: center;
}

.myroutine-editform form {
  display: flex;
  flex-direction: column;
}
.myroutine-editform form label {
  font-size: small;
}
.myroutine-editform form span {
  margin-bottom: 2px;
}

.my-routines-page {
  color: darkslateblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}

.form-container form {
  justify-items: flex-end;
  display: flex;
  flex-direction: row;
}
.form-container form label {
  margin: 10px;
}

.single-activity {
  background-color: lavender;
  display: inline-block;
  height: 200px;
  width: 200px;
  box-shadow: 10px 10px 5px darkslategray;
  margin: 10px;
  color: darkslategray;
  padding: 10px;
  vertical-align: top;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* Activities */
.activities-page {
  background-color: gray;
}

.activities-page h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkslateblue;
  margin: 10px;
}

.activity-form {
  margin: 10px;
}

.activity-login {
  color: darkslateblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
}
